html, body{
  height: 100%;
  margin: 0px;
  background-color: #EBF5FF;
}

body {
    padding-top: 50px;

}

#main-table {
  width: 100%;
}

#right-border-space {
  width: 90px;
}

#janeweb {
  background-color: #EBF5FF;
  min-height: 100%;
}

#button-td {
  width: 130px;
  padding: 10px;
}
#buttons {
	display: inline-block;
	margin-top: 35px;
  width: 100%;
}

.button {
    cursor: pointer;
}

.navbar-nav > li > a {
 line-height: 3;
 position: relative;
 top: 10px;
 padding-top:10px !important; 
 padding-bottom:10px !important;

}


#add-board-container{
  position: relative;
  margin-left: 335px;
  vertical-align: middle;
  display: inline-block;
  width: 350px;
  height: 40px;
}

#board-switcher {
  position:relative;
  top:6px;
}

#title {
  /*position: relative;*/
  /*display: inline-block;*/

	font-size: 35px;
	color: #517985;
  font-family: Nunito;
  font-weight: 300;
  /*top: 10px;*/
  /*left: 15px;*/
  height: 50px;
  line-height: 1;
}

#button-container{
  vertical-align: middle;
  margin-left: 30px;
  position: relative;
  display: inline-block;
  width: 101px;
  height: 28px;
}

#view-child-board{
  /*position: absolute;*/
}

#view-child-board img, #view-parent-board img {
  width: 100px;
}

#view-parent-board{
  /*position: absolute;*/
}

#corkboard-holder{
  margin-top:30px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  height: 620px;
  /*width: 840px;*/
  width: 100%;
}

#board-name {
  text-align:center;
  font-size:24px;
  position: relative;
  color: #517985;
  font-family: Nunito;
  font-weight: 300;
}

#corkboard-border{
  position: absolute;
  z-index: 0;
  top: 40px;
  left: 0px;
  background-color: #517985;
}

#corkboard{
  position: absolute;
  z-index: 1;
  top: 55px;
  left: 15px;
  width: 100%;
}

#corkboard-overlay{
  position: absolute;
  z-index: 2;
  top: 55px;
  left: 15px;
  height: 550px;
  width: 100%;
}

#garbage-can{
  position:absolute;
  height: 100px;
  width: 100px;
  bottom: 15px;
  right: 10px;
  z-index: 4;
}

.garbage1 {
  background-image: url("images/Garbage1.png");
}

.garbage2 {
  background-image: url("images/Garbage2.png");
}

.color {
  position: absolute;
  top: 10px;
  right: -30px;
  visibility: hidden;
  z-index: 10;
  color: rgba(0, 0, 0, 0);
}

#myValue {
  visibility: hidden;
}

#paintbrush{
  height: 65px;
  top: 55px;
  right: 20px;
  position: absolute;
  z-index: 4;
}

#paintbrush:hover{
  cursor: pointer;
}

#add-board {
	display:inline-block;
	vertical-align:central;
	color: #517985;
	margin-right:10px;
	margin-bottom:20px;
}

.website-link {
    text-align: center;
    position: absolute;
    width: 200px;
    height: 180px;
}

.website-url{
    vertical-align: top;
    width: 200px;
    text-align: center;
    color: black;
    font-size: 20px;
}

#website-url{
    width: 475px;
}
.website-image {
    width: 200px;
    vertical-align: top;
}

.note{
	background: url('images/stickyNoteImage.png');
  background-size: 160px 160px;
  background-repeat: no-repeat;
	width: 160px;
	height: 160px;
	position: absolute;
	padding: 5px 5px 5px 5px;
	z-index: 2;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-family: "Andale Mono", monospace;
  box-shadow: 2px 2px 2px 2px #888888;
}

.modal-dialog {
  width:400px;
}

.list {
	background: url('images/paperImage.png');
  background-size: 200px 200px;
  background-position: -8px -40px;
  width: 175px;
	height: 200px;
	position: absolute;
	padding-left: 20px;
	z-index: 2;
  /*word-wrap: break-word;*/
  overflow: scroll;
  overflow-x: hidden;
}

.list_Title{
  font-size: 14px;
  max-height: 24px;
  max-width: 170px;
  margin-top: 5px;
}

.list_inputs{
  width: 135px;
  height: 80px;
  margin: 5px 5px 5px 5px;
  font-size: 16px;
  position: absolute;
}

.photo {
	position: absolute;
  width: 180px;
}

.photo-container {
  position:absolute;
  width: 180px;
}

.mono_font{
  font-family: "Andale Mono", monospace;
}

.addButton {
  width: 125px;
  height: 30px;
  margin: 5px 5px 5px 5px;
}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 25px;
}

a.close {
  float: right;
  text-align: right;
}

li {
  display: table;
  float: center;
  list-style-type: none;
}

#deleter {
  position: absolute;
  right: 10px;
}

.error-message{
  color: red;
}

textarea {
    resize: none;
}

